* {
    --background-color: $base;
    --background: $base;
    --foreground: $text;
    --card: $surface;
    --card-foreground: $text;
    --popover: $overlay;
    --popover-foreground: $text;
    --primary: $iris;
    --primary-foreground: $base;
    --secondary: $highlightLow;
    --secondary-foreground: $text;
    --muted: $muted;
    --muted-foreground: $text;
    --accent: $iris;
    --accent-foreground: $base;
    --destructive: $love;
    /* --destructive-foreground: oklch(0.577 0.245 27.325); */
    --border: $highlightMed;
    --input: $highlightMed;
    --ring: $highlightMed;
    --chart-1: $love;
    --chart-2: $foam;
    --chart-3: $pine;
    --chart-4: $gold;
    --chart-5: $rose;
    /* defalut 0.625rem */
    --radius: 0.375rem;
    --sidebar: var(--background-color);
    --sidebar-foreground: $text;
    --sidebar-primary: $iris;
    --sidebar-primary-foreground: $base;
    --sidebar-accent: $surface;
    --sidebar-accent-foreground: $text;
    --sidebar-border: $highlightMed;
    --sidebar-ring: $highlightMed;

    /* VRChat Status Colors */
    --status-online: $foam;
    --status-joinme: $iris;
    --status-askme: $gold;
    --status-busy: $love;
    --status-active: $gold;
    --status-offline: $muted;
    --status-offline-alt: $subtle;
    --status-offline-card: $subtle; 

    /* Platform Colors */
    --platform-pc: $iris;
    --platform-quest: $pine;
    --platform-ios: $subtle;

    /* Favorite Group Visibility Colors */
    --visibility-public: $pine;
    --visibility-friends: $gold;
    --visibility-private: $love;

    --font-western-primary: 'Inter Variable';
    --font-western:
        'ellipsis-font', -apple-system, var(--font-western-primary), 'Segoe UI',
        'Roboto', 'Ubuntu', 'Cantarell', 'DejaVu Sans', sans-serif;
    --font-symbol: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* Fixes that may not be necessary or probably should have better solutions, but the theme is broken otherwise */
.x-tag-platform-pc {
    color: var(--platform-pc);
    border-color: var(--platform-pc)!important;
}
.x-tag-platform-quest {
    color: var(--platform-quest);
    border-color: var(--platform-quest)!important;
}
.x-tag-platform-ios {
    color: var(--platform-ios);
    border-color: var(--platform-ios)!important;
}

.x-tag-age-verification {
    color: $foam;
    border-color: $foam!important;
}
